doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Library Books
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet')
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href='/') Library Management Dashboard
    h4.card-title Welcome #{currentUser.firstName}
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href='/books/addBook') Add Book
        li.nav-item
          a.nav-link(href='/users/addUser') Add User
        li.nav-item
          a.nav-link(href='/authors/addAuthor') Add Author
        li.nav-item
          a.nav-link(href='/logout') Logout
header.card-header
    h4.card-titled-flex Welcome #{currentUser.firstName}
    |&nbsp
    div.form-row
        div.col.form-group.col-md-6
            form.search(action='/bookList')
                div.form-row
                    div.col-md-8
                        input.form-control(name='genre' placeholder="Enter your search term(genre) ...")
                    div.col-md-4
                        input.btn.btn-secondary.btn-block(type="submit")
.container
    h2.text-center.mt-5.mb-4 Available Books
    table.table.table-striped
        thead
        tr
            th(scope='col') Book ID
            th(scope='col') Name
            th(scope='col') Author Name
            th(scope='col') Genre
            th(scope='col') Number of Copies
            th(scope='col') Action
        tbody
            if books.length
            each book in books
            if book.status === "available" && book.numCopies >= 1
              tr
                td #{book.bookId}
                td #{book.bookName}
                td #{book.authorName}
                td #{book.genre}
                td #{book.numCopies}
                td
                  a.btn.btn-secondary.btn-sm(href='/books/issueBook/'+book._id) Borrow Book
                td
                  a.btn.btn-primary.btn-sm(href='/books/updateBook/'+book._id) Update
                td
                  form(method="post" action='/books/deleteBook')
                    input(type="hidden", placeholder="", name="id", value=book._id)
                    button.btn.btn-danger.btn-sm(type="submit") Delete
            else
                p No Books yet :(                    
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js')
